.link {
    /* background: white; */
    color: rgb(250, 248, 248);
    width: 30px;
    height: 30px;
    /* text-align: center; */
    cursor: pointer;
    
}
.wrapper{
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
    align-items: center;
}
.link i{
    font-size: 20px;
    display: flex;
    padding-top: 7px ;
    align-items: center;
    justify-content: center;
}
.link i:hover{
    color: #FFCA42;
}